<h3>{{ data.title }}</h3>
<div mat-dialog-content >
  <mat-form-field appearance="fill">
    <label for="answer">{{data.control.question?.display}}</label>
    <input id="answer" type="text" style="width:10vw" [formControl]="data.control.answerFC">
  </mat-form-field>
</div>
<div fxLayoutGap=" 10px" mat-dialog-actions fxLayout="row" fxLayoutAlign="center start">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
</div>
