# vim swp
*.swp

# log and exec file
cmake_targets/log/
cmake_targets/*/build/
cmake_targets/ran_build/
cmake_targets/nas_sim_tools/build/
log/
lte_build_oai/
targets/bin/

# vscode
.vscode

# Tags for vim/global
GPATH
GRTAGS
GTAGS
tags
