<form *ngIf="userService.userCtrl$ | async as userCtrl" [formGroup]="userCtrl" fxLayout="column"
  fxLayoutAlign="space-around" class="grid-container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-icon-button (click)="onRefresh()" [disabled]="loadingService.isLoading$ | async">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="onSubmit(userCtrl)" [disabled]="userCtrl.pristine">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <button mat-icon-button (click)="onSync()" [disabled]="loadingService.isLoading$ | async">
      <mat-icon>sync</mat-icon>
    </button>
  </div>

  <mat-grid-list cols="2" rowHeight="150px">

    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> Settings </mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayoutAlign="start start" class="dashboard-card-content">

          <mat-form-field>
            <mat-label>Checkin Hour</mat-label>
            <input input matInput [formControl]="userCtrl.defaultCheckInHourFC" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Checkout Hour</mat-label>
            <input input matInput [formControl]="userCtrl.defaultCheckOutHourFC" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Cleaning Time</mat-label>
            <input input matInput [formControl]="userCtrl.defaultCleaningHoursFC" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Nights</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" class="dashboard-card-content">
          <div fxLayout="row" fxFill>
            <mat-form-field>
              <mat-label>Calendar ID</mat-label>
              <input input matInput [formControl]="userCtrl.busyCalCtrl.idFC" />
            </mat-form-field>
            <button mat-icon-button [cdkCopyToClipboard]="ical(userCtrl.busyCalCtrl.idFC.value)">
              <mat-icon>content_copy</mat-icon>
            </button>
            <p>{{ userCtrl.busyCalCtrl.summaryFC.value }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Real</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" class="dashboard-card-content">


          <div fxLayout="row" fxFill>
            <mat-form-field>
              <mat-label>Calendar ID</mat-label>
              <input input matInput [formControl]="userCtrl.reelCalCtrl.idFC" />
            </mat-form-field>
            <button mat-icon-button [cdkCopyToClipboard]="ical(userCtrl.reelCalCtrl.idFC.value)">
              <mat-icon>content_copy</mat-icon>
            </button>
            <p>{{ userCtrl.reelCalCtrl.summaryFC.value }}</p>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> Cleanings </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" class="dashboard-card-content">


          <div fxLayout="row" fxFill>
            <mat-form-field>
              <mat-label> Calendar ID</mat-label>
              <input input matInput [formControl]="userCtrl.cleaningCalCtrl.idFC" />
            </mat-form-field>
            <button mat-icon-button [cdkCopyToClipboard]="ical(userCtrl.cleaningCalCtrl.idFC.value)">
              <mat-icon>content_copy</mat-icon>
            </button>
            <p>{{ userCtrl.cleaningCalCtrl.summaryFC.value }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</form>