<div *ngIf="vars$ | async as vars">
  <h1 mat-dialog-title>Softmodem variables</h1>
  <div *ngFor="let variable of vars">
    <mat-form-field>
      <mat-label>{{ variable.nameFC.value }}</mat-label>
      <input input matInput [formControl]="variable.valueFC" />
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!variable.modifiableFC.value" (click)="onVarSubmit(variable)">
      set
    </button>
  </div>
</div>

<div *ngIf="modules$ | async as modules" fxLaypout="row">
  <mat-form-field>
    <mat-label>Module</mat-label>
    <mat-select (selectionChange)="onModuleSelect($event.value)">
      <mat-option *ngFor="let module of modules" [value]="module"> {{ module.nameFC.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="selectedModule">
  <h1 mat-dialog-title>{{ selectedModule!.nameFC.value }} module</h1>

  <div *ngIf="subvars$ | async as subvars" fxLaypout="column">
    <div *ngIf="subvars.length">
      <h2 mat-dialog-title>Variables</h2>
      <div *ngFor="let variable of subvars">
        <mat-form-field>
          <mat-label>{{ variable.nameFC.value }}</mat-label>
          <input input matInput [formControl]="variable.valueFC" />
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!variable.modifiableFC.value"
          (click)="onSubVarSubmit(variable)">
          set
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="cmds$ | async as cmds">
    <div *ngIf="cmds.length">
      <h2 mat-dialog-title>Commands</h2>
      <div *ngFor="let cmd of cmds" fxLayoutGap="10px">
        <button mat-raised-button color="primary" (click)="onCmdSubmit(cmd)"> {{cmd.nameFC.value}} </button>
      </div>
    </div>
  </div>


  <mat-table mat-table [dataSource]="rows$" multiTemplateDataRows class="mat-elevation-z8">

    <!-- For anyone who has set the multiTemplateDataRows property of mat-table to true,
              you can't use index. Instead you have use either dataIndex or renderIndex.
              See https://github.com/angular/material2/issues/12793 -->


    <div *ngFor="let col of columns; index as colIndex" matColumnDef="{{col.name}}">
      <mat-header-cell *matHeaderCellDef>
        <div>
          <h4>{{ col.name }}</h4>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; dataIndex as rowIndex">
        <mat-form-field [ngSwitch]="col.type">
          <mat-slide-toggle *ngSwitchCase="IOptionType.boolean" [formControl]="row.booleanFC"
            [checked]="row.isEnabledFC.value" [disabled]="!col.modifiable"></mat-slide-toggle>
          <input *ngSwitchCase="IOptionType.string" matInput [formControl]="row.stringFC"
            [disabled]="!col.modifiable" />
        </mat-form-field>
      </mat-cell>
    </div>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

</div>