<div class="grid-container">

  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutAlign="start end">
      <button mat-icon-button (click)="onRefresh()" [disabled]="loadingService.isLoading$ | async">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around end">
      <button mat-icon-button (click)="onPrevious()">
        <mat-icon>skip_previous</mat-icon>
      </button>
      <p>{{ year }}</p>
      <button mat-icon-button (click)="onNext()">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="end end">
      <button mat-icon-button (click)="onSync()" [disabled]="loadingService.isLoading$ | async">
        <mat-icon>sync</mat-icon>
      </button>
    </div>
  </div>

  <mat-grid-list *ngIf="yearly$ | async as yearly" cols="5" rowHeight="150px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>{{ yearly.nights }} nights</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center" fxLAyoutAlign="center center" class="dashboard-card-content">
          <h1> {{ yearly.occupation }}%</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Brut</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center" class="dashboard-card-content">
          <h1>{{ yearly.brut }}€</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Cleanings</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center" fxLAyoutAlign="center center" class="dashboard-card-content">
          <h1>{{ yearly.cleanings }}€</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Net</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center" fxLAyoutAlign="center center" class="dashboard-card-content">
          <h1>{{ yearly.net }}€</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Night Rate</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center" fxLAyoutAlign="center center" class="dashboard-card-content">
          <h1>{{ yearly.nightRate }}€</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="5" [rowspan]="15">
      <div fxLayout="column" fxLayoutAlign="start" fxFlexFill>
        <div *ngIf="bookingsCtrls$ | async as bookingsCtrls">
          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

          <mat-table mat-table [dataSource]="bookingsCtrls" multiTemplateDataRows class="mat-elevation-z8">


            <ng-container matColumnDef="dates">
              <mat-header-cell *matHeaderCellDef>
                <h2>Dates</h2>
              </mat-header-cell>
              <mat-cell *matCellDef="let bookingCtrl" fxLayout="column" fxLayoutAlign="start start">
                {{dates(bookingCtrl)}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="guest">
              <mat-header-cell *matHeaderCellDef>
                <h2>Guest</h2>
              </mat-header-cell>
              <mat-cell *matCellDef="let bookingCtrl" fxLayout="column" fxLayoutAlign="start start">
                {{bookingCtrl.guestCtrl.givenFC.value}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nights">
              <mat-header-cell *matHeaderCellDef>
                <h2>Nights</h2>
              </mat-header-cell>
              <mat-cell *matCellDef="let bookingCtrl" fxLayout="column" fxLayoutAlign="start start">
                {{nights(bookingCtrl)}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="platform">
              <mat-header-cell *matHeaderCellDef>
                <h2>Platform</h2>
              </mat-header-cell>
              <mat-cell *matCellDef="let bookingCtrl" fxLayout="column" fxLayoutAlign="start start">
                {{ bookingCtrl.platformFC.value }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rate">
              <mat-header-cell *matHeaderCellDef>
                <h2>Rate</h2>
              </mat-header-cell>
              <mat-cell *matCellDef="let bookingCtrl" fxLayout="column" fxLayoutAlign="start start">
                {{ rate(bookingCtrl)}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="brut">
              <mat-header-cell *matHeaderCellDef fxLayout="column" fxLayoutAlign="start start">
                <h2>Brut</h2>
              </mat-header-cell>
              <mat-cell *matCellDef="let bookingCtrl" fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field>
                  <mat-label>Amount</mat-label>
                  <input input matInput [formControl]="bookingCtrl.amountFC" />
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cleanings">
              <mat-header-cell *matHeaderCellDef fxLayout="column" fxLayoutAlign="start start">
                <h2>Cleanings</h2>
              </mat-header-cell>
              <mat-cell *matCellDef="let bookingCtrl" fxLayout="column" fxLayoutAlign="start start">
                {{ cleaning(bookingCtrl) }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="net">
              <mat-header-cell *matHeaderCellDef>
                <h2>Net</h2>
              </mat-header-cell>
              <mat-cell *matCellDef="let bookingCtrl" fxLayout="column" fxLayoutAlign="start start">
                {{ brut(bookingCtrl) - cleaning(bookingCtrl) }}
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="DISPLAYED_COLUMNS"></mat-header-row>
            <mat-row *matRowDef="let bookingCtrl; columns: DISPLAYED_COLUMNS" (keydown.enter)="onSubmit(bookingCtrl)">
            </mat-row>
          </mat-table>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</div>