<form *ngIf="userService.userCtrl$ | async as userCtrl" [formGroup]="userCtrl" fxLayout="column"
  fxLayoutAlign="space-around" class="grid-container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start start">
      <button mat-icon-button (click)="onRefresh()" [disabled]="loadingService.isLoading$ | async">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="onSubmit(userCtrl)" [disabled]="userCtrl.pristine">
        <mat-icon>save</mat-icon>
      </button>
    </div>

    <button mat-raised-button color="primary" (click)="userService.register()"
      *ngIf="(userService.isRegistered$ | async) === false">
      REGISTER
    </button>
    <button mat-raised-button color="primary" (click)="userService.unregister()"
      *ngIf="userService.isRegistered$ | async">
      UNREGISTER
    </button>
    <!-- 
    <button mat-raised-button color="primary" (click)="userService.register()">
      REGISTER
    </button>
    <button mat-raised-button color="primary" (click)="userService.unregister()">
      UNREGISTER
    </button> -->
  </div>

  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
          <mat-card-title> Autosend </mat-card-title>
          <mat-slide-toggle [formControl]="userCtrl.autoSendFC" [disabled]="!userCtrl.isRegistered"></mat-slide-toggle>
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayoutAlign="start start" class="dashboard-card-content">
          <mat-form-field>
            <mat-label>Email subject prefix</mat-label>
            <span matPrefix>[</span>
            <input input matInput [formControl]="userCtrl.subjectPrefixFC" />
            <span matSuffix>]</span>
          </mat-form-field>

          <mat-form-field fxFlexFill>
            <mat-label>Address</mat-label>
            <input input matInput [formControl]="userCtrl.addressFC" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Name</mat-label>
            <input input matInput [formControl]="userCtrl.nameFC" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Tel</mat-label>
            <input input matInput [formControl]="userCtrl.telFC" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <div *ngIf="userCtrl.autoSendFC.value">
      <mat-grid-tile *ngFor="let messageCtrl of messagesCtrls(userCtrl)" [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title> {{ messageCtrl.subject }} </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-form-field fxFlexFill>
              <mat-label> Body </mat-label>
              <textarea matInput [formControl]="messageCtrl.bodyFC" cdkTextareaAutosize></textarea>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</form>