<h1 mat-dialog-title>New Booking</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Given name</mat-label>
    <input input matInput [formControl]="bookingCtrl.guestCtrl.givenFC" />
  </mat-form-field>

  <mat-form-field fxFlexFill>
    <mat-label>Nights</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [formControl]="bookingCtrl.rangeCtrl.startDayFC" />
      <input matEndDate [formControl]="bookingCtrl.rangeCtrl.endDayFC" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Platform</mat-label>
    <mat-select [formControl]="bookingCtrl.platformFC" [value]="bookingCtrl.platformFC.value">
      <mat-option *ngFor="let platform of platformValues" [value]="platform">{{ platform }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input input matInput [formControl]="bookingCtrl.guestCtrl.emailFC" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input input matInput [formControl]="bookingCtrl.amountFC" />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="bookingCtrl" cdkFocusInitial>Ok</button>
</div>